<!-- Gallery -->
<div class="m-5">
<br>
<h3 class="lead text-center"><b>A book is a dream that you hold in your hand.</b></h3>
<br>
<h4>The Best Books of 2022 to Add to Your Reading List</h4>
<h6 class="text-muted">The most anticipated books to read in 2022 are stunners—novels that will make you laugh until the mascara drips down your face. Chilling thrillers and thrilling memoirs. Romances that will have you downloading dating apps again.</h5>
<p>
  <li>Fiona and Jane by Jean Chen Ho</li>
  <li>The Maid by Nita Prose</li>
  <li>Wahala by Nikki May</li>
  <li>To Paradise by Hanya Yanagihara</li>
  <li>Fiona and Jane by Jean Chen Ho</li>
  <li>Checkout 19 by Claire-Louise Bennett</li>
  <li>New Animal by Ella Baxter</li>
  <li>Pure Color by Sheila Heti</li>
  <li>Black Cake by Charmaine Wilkerson</li>
  <li>Other People’s Clothes by Calla Henkel </li>
</p>
</div>
<div class="row m-5">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="assets/img/img1.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />

    <img
      src="assets/img/img4.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/img/img5.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Mountains in the Clouds"
    />

    <img
      src="assets/img/img7.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Boat on Calm Water"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="assets/img/img6.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />

  </div>
</div>
<!-- Gallery -->